.a-landing {
  display: flex;
  height: 100vh;
}
.a-landing div {
  width: 50%;
}
.a-landing > div:first-child {
  background: #193956;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.a-landing > div:first-child h1 {
  margin-bottom: 5%;
}
.a-landing li {
  font-size: large;
  margin: 5%;
}

.a-landing > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.a-landing > div:last-child > div{
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.25);
}
.a-landing > div:last-child > div > div {
  display: flex;
  padding:3% 0;
  width:100%;
  border-left:3px solid transparent;
  cursor:pointer;
  align-items: center;
}
.a-landing > div:last-child > div > div:hover {
  border-left:3px solid #193956;
  background: #19385641;

  }
.a-landing > div:last-child > div > div img{
    width:20%;
    object-fit: contain;
}
.a-landing h2{
    width:80%;
    padding-left:4%;
}
.a-landing div:last-child div div img {
  height: 3rem;
}
