.auth-main{
    display:flex;
    height:100vh;
}
.auth-main > div{
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.auth-main img{
    height:30rem;
    object-fit: contain;
}
.auth-head{
    position:absolute;
    top:3%;
    left:3%;
    border-left:5px solid #193956;
    padding-left:1%;
}
.auth-form{
    background: #193956;
    display:flex;
    flex-direction: column;
    color:white;
}
.auth-form label{
    display:block;
    text-align: left;
    margin-bottom:1%;
}
.auth-form p{
    margin-bottom:5%;
}
.auth-form input{
    border:none;
    outline:none;
    border-radius: 2px;
    background: white;
    min-height:2.4rem;
    width:23rem;
    margin-bottom:5%;
    padding:0 2%;
}
.auth-form .c-btn-2{
    background: white;
    color:#193956
}
.admin-login-img{
    height:3rem !important;
    object-fit: contain;
    position:absolute;
    bottom:2%;
    right:2%;
    cursor:pointer;
}