*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    min-height:100vh;
}
nav{
    background: #193956;
    display:flex;
    justify-content: flex-end;
    height:3rem;
    color:white;
}
nav h3{
    margin: auto 1%;
}
.main{
    padding:2%;
}
.landing{
    display:flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}
.landing div{
    border-left:4px solid #193956;
    width:80%;
}
.landing p{
    margin:3%;
    font-size: large;
    width:80%;
}
.landing img{
    height:25rem;
    object-fit: contain;
    padding: 2%;
    margin-right:3%;
}
.sub{
    text-align: center;
}
.sub > div{
    display:flex;
    margin:2% 5%;
}
.sub > div > div{
    margin:1% 3%;
}
.sub img{
    height:5rem;
    object-fit: contain;
    margin:2% 0 6%;
}
.c-btn{
    background: #193956;
    padding:1% 5%;
    color:white;
    margin:2% 0 5%;
    font-size: large;
    cursor:pointer;
    border:none;
    outline:none;
    border-radius: 5px;
}
.c-btn:active{
    transform: scale(0.8);
}