.leak-main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:3% auto;
}
.leak-main > button {
    background:#193956;
    cursor:pointer;
    border:none;
    outline:none;
    color:white;
    padding:1% 5%;
    font-size:x-large;
    border-radius: 3px;
}
.leak-main > button:active{
    transform:scale(0.9)
}
.leak-box{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width:40%;
    margin:3% auto;
}
.leak-box h2{
    background: #193956;
    text-align: center;
    color:white;
    padding:4%;
}
.leak-deets{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin:5% 3%;
    padding:2%;
    display:flex;
    align-items: center;
}
.leak-deets > p{
    width:15%;
    margin-right:5%;
    margin-left:5%;
    text-align: center;
    border:2px solid #778DA1;
    padding:2%;
    font-size:x-large;
    border-radius:3px;
}
.leak-deets div{
    width:75%;
}
.leak-deets > .leak-send{
    width:4rem;
    height: 3.5rem;
    background:#778DA1;
    border-radius:50%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.leak-send img{
    object-fit:contain;
    height:2rem;
}
.reset-div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.reset-div button,.leak-send button{
    background: none;
    outline:none;
    border:none;
    cursor:pointer;
}
.reset-div button:active,.leak-send button:active{
    transform: scale(0.9);
}
.reset-div img{
    height:3rem;
}