.n-main{
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
    width:40%;
    margin:5% auto;
    position:relative;
}
.n-main div{
    background:#193956;
    height:80px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.n-main div img{
    height:8rem;
    position:absolute;
    top:-15%;
}
.n-main ul{
    padding:3%;
}
.n-main li{
    font-size: medium !important;
}
