table{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:3px solid #193956;
    max-width:70vw;
}
thead,tbody,tr{
    width: 100%;
}
tbody{
    display: flex;
    flex-direction: column;
}
tr{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-size: large;
}
tr:nth-child(even){
    background: #778DA1;
}
tr img{
    height:3.5rem;
}
thead{
    background:#193956;
    color:white;
    padding:3% 0;
    font-size: large;
}
td,th{
    width:120px;
    text-align: center;
}