@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body{
    min-height:100vh;
}

/* Login and Signup */

.auth-main{
    display:flex;
    height:100vh;
}
.auth-main > div{
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.auth-main img{
    height:30rem;
    object-fit: contain;
}
.auth-head{
    position:absolute;
    top:3%;
    left:3%;
    border-left:5px solid #193956;
    padding-left:1%;
}
.auth-form{
    background: #193956;
    display:flex;
    flex-direction: column;
    color:white;
}
.auth-form label{
    display:block;
    text-align: left;
    margin-bottom:1%;
}
.auth-form p{
    margin-bottom:5%;
}
.auth-form input,.auth-form textarea{
    border:none;
    outline:none;
    border-radius: 2px;
    background: white;
    min-height:2.4rem;
    /* width:23rem; */
	width:100%;
    margin-bottom:5%;
    padding:0 2%;
}
.auth-form textarea{
    border:2px solid #193956;
}
.auth-form .c-btn-2{
    background: white;
    color:#193956;
	width:60%;
	margin:3% auto;
	display:block;
}
.admin-login-img{
    height:3rem !important;
    object-fit: contain;
    position:absolute;
    bottom:2%;
    right:2%;
    cursor:pointer;
}
.l-form{
	width:60%;
}
.auth-main .admin-pic{
	height:2rem;
	object-fit: contain;
	position:absolute;
	bottom:2%;
	right:2%;
}

/* Initial Pages */
nav{
    background: #193956;
    display:flex;
    justify-content: flex-end;
    height:3rem;
    color:white;
}
nav h3{
    margin: auto 1%;
}
nav h3 a{
	text-decoration: none;
	color:white;
	letter-spacing: 1px;
}
.main{
    padding:2%;
}
.landing{
    display:flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}
.landing div{
    border-left:4px solid #193956;
    width:80%;
}
.landing p{
    margin:3%;
    font-size: large;
    width:80%;
}
.landing img{
    height:25rem;
    object-fit: contain;
    padding: 2%;
    margin-right:3%;
}
.sub{
    text-align: center;
}
.sub > div{
    display:flex;
    margin:2% 5%;
}
.sub > div > div{
    margin:1% 3%;
}
.sub img{
    height:5rem;
    object-fit: contain;
    margin:2% 0 6%;
}
.c-btn{
    background: #193956;
    padding:1% 5%;
    color:white;
    margin:2% 0 5%;
    font-size: large;
    cursor:pointer;
    border:none;
    outline:none;
    border-radius: 5px;
}
.c-btn:active{
    transform: scale(0.8);
}